In [12]:
import pandas as pd
import folium
import requests
import numpy as np

batting = pd.read_csv('Batting.csv')
player_info_df = pd.read_csv('People.csv')
batting_career = []
players_already_entered = []
appearances = pd.read_csv("Appearances.csv")

In [5]:
def career_batting():
    for player_season in batting.to_records():
        if player_season['playerID'] in players_already_entered:
            for player in batting_career:
                if player_season['playerID'] == player['playerID']:
                    player['G'] += player_season['G']
                    player['AB'] += player_season['AB']
                    player['R'] += player_season['R']
                    player['H'] += player_season['H']
                    player['HR'] += player_season['HR']
                    player['RBI'] += player_season['RBI']
                    player['SB'] += player_season['SB']
                    break
        else:
            for player_name in player_info_df.to_records():
                if player_name['playerID'] == player_season['playerID']: 
                    batting_career_stats = {"playerID" : player_season['playerID'], 'Name' : player_name['nameGiven'],  'G' : player_season['G'], 'AB' : player_season['AB'], 'R' : player_season['R'], 'H' : player_season['H'] , 'HR' : player_season['HR'], 'RBI' : player_season['RBI'] , 'SB' : player_season['SB']}
                    batting_career.append(batting_career_stats)
                    players_already_entered.append(player_season['playerID'])
                    break
    return batting_career

In [19]:
def career_batting():
    for player_season in batting.to_records():
        if player_season['playerID'] in players_already_entered:
            for player in batting_career:
                if player_season['playerID'] == player['playerID']:
                    player['G'] += player_season['G']
                    player['AB'] += player_season['AB']
                    player['R'] += player_season['R']
                    player['H'] += player_season['H']
                    player['HR'] += player_season['HR']
                    player['RBI'] += player_season['RBI']
                    player['SB'] += player_season['SB']
                    break
        else:
                batting_career_stats = {"playerID" : player_season['playerID'], 'G' : player_season['G'], 'AB' : player_season['AB'], 'R' : player_season['R'], 'H' : player_season['H'] , 'HR' : player_season['HR'], 'RBI' : player_season['RBI'] , 'SB' : player_season['SB']}
                batting_career.append(batting_career_stats)
                players_already_entered.append(player_season['playerID'])
    return batting_career

In [6]:
batting_career = career_batting()

In [16]:
batting_career = pd.DataFrame(batting_career)

         AB     G     H  HR                 Name    R  RBI   SB   playerID
0        60    55     9   0                 Jose    4    1    1  acostjo01
1       314   174    71   2     Charles Benjamin   27   25    1  adamsba01
2      1003   344   260  17        Edward Wilbur   98  131   11  ainsmed01
3       843   334   192   7     Grover Cleveland   65   96    0  alexape01
4        85    43    23   0         Artemus Ward   10    4    0  allenni01
5         3    14     0   0      Ernest Matthias    0    0    0  altener01
6       381   129   104   1         James Philip   53   36    5  austiji01
7        59    48     9   0         Yancey Wyatt    2    3    0  ayersdo01
8       269   136    60   1  James Charles Jacob   32   32    0  bagbyji01
9       616   204   153   2        Arthur Eugene   94   51   12  bailege01
10       12    31     1   0      Abraham Lincoln    0    0    0  bailesw01
11       14    13     3   0       Howard Douglas    1    1    0  bairddo01
12     4830  1274  1421  18          David James  740  434   82  bancrda01
13     1109   297   303   0      Walter Lawrence  113  101   18  barbawa01
14     1064   318   312   1         Tyrus Turner  138  141   17  barbetu01
15      609   285   123   1       Jesse Lawrence   50   45    2  barneje01
16      371   204    40   0      Virgil Jennings   20    9    0  barnevi01
17     2673   814   788  27            Clyde Lee  404  436   35  barnhcl01
18        4     9     1   0         Harry Edward    0    1    0  baumgha01
19      209   197    60   1         William Lear   24   13    0  baynebi01
20      257   149    53   0          John Cleave   14   15    0  bentoru01
21      437   311    86   0      Walter McKinley   29   19    0  bettshu01
22       13    28     0   0            Harry Lee    0    0    0  biemiha01
23     2771   754   841  14           Carson Lee  458  254  105  bigbeca01
24       77    43    14   1        Lyle Randolph    5    8    1  bigbely01
25      217    95    56   0        John Augustus   21   16    1  billijo01
26      558   310   118   0       John Frederick   46   30    0  blakesh01
27      558   160   154   7        Frank Stephen   68   91    6  bodiepi01
28     2144   573   626  26         Norman Doxie  296  272   63  boeckto01
29       23    25     6   0         George Henry    4    2    0  boehlge01
...     ...   ...   ...  ..                  ...  ...  ...  ...        ...
15040     8     3     2   0                 Jose    0    3    0  trevijo01
15041     0    69     0   0           Lou Albert    0    0    0  trivilo01
15042    64    28     9   0          Kyle Daniel   10    4    1  tuckeky01
15043     2     4     0   0      Spencer Ketcham    0    0    0  turnbsp01
15044     1     1     0   0            Duane Lee    0    0    0  underdu01
15045    48    12    10   2        Luis Fernando    5    5    1  uriaslu01
15046     0     8     0   0              Framber    0    0    0  valdefr01
15047    79    46    14   1         Jesmuel Jose    8    6    0  valenje01
15048     0     9     0   0          Andrew Jude    0    0    0  vasquan02
15049     0     6     0   0        Gerard Joseph    0    0    0  vastoje01
15050    10    13     3   0               Andrew    3    0    1  velazan01
15051     7     6     1   0        Engelb Stalin    1    0    0  vielmen01
15052    27    10     7   0         Meibrys John    4    4    0  vilorme01
15053     2     4     0   0           Austin Lee    0    0    0   vothau01
15054     0     8     0   0        Marcus Walter    0    0    0  waldema01
15055    17    13     1   1          Mitchell S.    1    2    0  waldimi01
15056   135    40    24   6        Joseph Taylor   14   15    2   wardta01
15057     0     1     0   0           Zachary D.    0    0    0  weissza01
15058     0    10     0   0             Rowan D.    0    0    0   wickro01
15059     0     5     0   0      Bradley Michael    0    0    0  wieckbr01
15060    46    16     8   0        Stephen Beaty    2    3    1  wilkest01
15061     0    10     0   0        Austen Thomas    0    0    0  williau01
15062     1     1     0   0          Justin Paul    0    0    0  williju02
15063     2     3     0   0        Bryse Everett    0    0    0  wilsobr02
15064     0    22     0   0        Anthony James    0    0    0  wingetr01
15065    50    32    13   4          Patrick Ian   11   10    2  wisdopa01
15066     0     4     0   0           Kyle Hardy    0    0    0  wrighky01
15067   110    42    28   4        Robert Austin   16   11    0  wynnsau01
15068     3    38     0   0       Ryan Christian    0    0    0  yarbrry01
15069     0    16     0   0         Daniel James    0    0    0  zamorda01

[15070 rows x 9 columns]

In [18]:
stat = 'H'
player_list = batting_career.sort_values(by=[stat], ascending=False)
desired_players = player_search('ss')
number_of_players = 10
pls = player_sort_by_stat(player_list, desired_players, stat, number_of_players, batting_career)

KeyError: 'H'

In [9]:
def player_sort_by_stat(player_list, desired_players, stat, number_of_players,batting_career):
    i = 0
    best_for_position = []
    for player in player_list.to_records():
        if player['playerID'] in desired_players and i < number_of_players:
            player_stats = {'playerID' : player['playerID'], 'Name': player['Name'], stat : player[stat]}
            best_for_position.append(player_stats)
            i += 1
        elif i >= number_of_players:
            break
    return best_for_position

In [10]:
def player_search(position):
    desired_players = []
    position = position.lower()
    position_key = "G_" + position
    for player in appearances.to_records():
        player_position = max_position(player)
        if position_key == player_position:
            name = player['playerID']
            desired_players.append(name)
    return desired_players

In [11]:
def max_position(player):
    max_position = -1
    if int(player['G_p']) > max_position:
        max_position = int(player['G_p'])
        position = "G_p"
    if int(player['G_c']) > max_position:
        max_position = int(player['G_c'])
        position = "G_c"
    if int(player['G_1b']) > max_position:
        max_position = int(player['G_1b'])
        position = "G_1b"
    if int(player['G_2b']) > max_position:
        max_position = int(player['G_2b'])
        position = "G_2b"
    if int(player['G_ss']) > max_position:
        max_position = int(player['G_ss'])
        position = "G_ss"
    if int(player['G_3b']) > max_position:
        max_position = int(player['G_3b'])
        position = "G_3b"
    if int(player['G_lf']) > max_position:
        max_position = int(player['G_lf'])
        position = "G_lf"
    if int(player['G_cf']) > max_position:
        max_position = int(player['G_cf'])
        position = "G_cf"
    if int(player['G_rf']) > max_position:
        max_position = int(player['G_rf'])
        position = "G_rf"
    return position

In [ ]:
def player_map():
    map = folium.Map(location=(39.8283, -98.5795), zoom_start=4.21)
    for index,playerid in enumerate(player_id):
        if playerid in listofplayers:
            birthCity = player_info_df['birthCity'][index]
            birthState = player_info_df['birthState'][index]
            try:
                player_lat_lon = geocode(birthCity, birthState)
                pos = (player_lat_lon['lat'],player_lat_lon['lon']) 
                message = "%s, %s-%s %s, %s " % (player_info_df['nameGiven'][index],player_info_df['birthYear'][index], player_info_df['deathYear'][index],birthCity, birthState)
                marker = folium.Marker(location=pos, 
                        popup=message
                              )
                map.add_children(marker)
            except:
                pass
    return map

In [ ]:
def geocode(birthCity, birthState):
    text = ("%s , %s"%(birthCity, birthState))
    data =  { 'q' : text, 'format' : 'json'}
    url='https://nominatim.openstreetmap.org/search' 
    response = requests.get(url, params=data)
    geodata = response.json()
    lat = float(geodata[0]['lat'])
    lon = float(geodata[0]['lon'])
    lat_lon = {'lat': lat , 'lon': lon}
    return lat_lon

In [ ]:
best_3b_hr = pd.DataFrame(pls)

In [14]:
list_of_positions = ['3b','2b','1b','ss','c','lf','cf','rf']

In [17]:
print("---MLB Stat Leaders by Position---")
while True:
    print(list_of_positions)
    position = input("Please input a positon see above or 'quit':  ")
    position = position.lower()
    if position == 'quit':
        print("Quitting...")
        break
    elif position == 'all':
        desired_players = batting_career['playerID']
    else:
        if position in list_of_positions:
            desired_players = player_search(position)
        else:
            print("Please Input a Valid Postition")
            break
    print(batting_career.keys())
    stat = input("Please Input the Stat You Would Like to See 'H, HR, AB':")
    stat = stat.upper()
    if stat == 'QUIT':
        print("Quitting...")
        break
    try:
        player_list = batting_career.sort_values(by=[stat], ascending=False)
    except:
        print("Please Input a Valid Stat")
        break
    number_of_players = input("How Many Players Would You Like To See? ")
    if number_of_players.lower() == 'quit':
        print("Quitting...")
        break
    try:
        number_of_players = int(number_of_players)
        best_of_players = player_sort_by_stat(player_list, desired_players, stat, number_of_players, batting_career)
    except:
        print("Please Input an Integer")
        break
    best_of_players_df = pd.DataFrame(best_of_players)
    print(best_of_players_df)

---MLB Stat Leaders by Position---
['3b', '2b', '1b', 'ss', 'c', 'lf', 'cf', 'rf']
Please input a positon see above or 'quit':  3b
Index([], dtype='object')
Please Input the Stat You Would Like to See 'H, HR, AB':h
Please Input a Valid Stat