In [1]:
import pandas as pd
import folium
import requests
import numpy as np

batting = pd.read_csv('Batting.csv')
player_info_df = pd.read_csv('People.csv')
batting_career = []
players_already_entered = []
appearances = pd.read_csv("Appearances.csv")

In [2]:
def career_batting():
    for player_season in batting.to_records():
        if player_season['playerID'] in players_already_entered:
            for player in batting_career:
                if player_season['playerID'] == player['playerID']:
                    player['G'] += player_season['G']
                    player['AB'] += player_season['AB']
                    player['R'] += player_season['R']
                    player['H'] += player_season['H']
                    player['HR'] += player_season['HR']
                    player['RBI'] += player_season['RBI']
                    player['SB'] += player_season['SB']
                    break
        else:
            batting_career_stats = {"playerID" : player_season['playerID'], 'G' : player_season['G'], 'AB' : player_season['AB'], 'R' : player_season['R'], 'H' : player_season['H'] , 'HR' : player_season['HR'], 'RBI' : player_season['RBI'] , 'SB' : player_season['SB']}
            batting_career.append(batting_career_stats)
            players_already_entered.append(player_season['playerID'])
    return batting_career

In [3]:
batting_career = career_batting()

In [ ]:
len(batting_career)

In [10]:
batting = pd.DataFrame(batting_career)

In [26]:
player_list = batting.sort_values(by=[stat], ascending=False)
desired_players = player_search('3b')
stat = 'HR'
number_of_players = 10
pls = player_sort_by_stat(player_list, desired_players, stat, number_of_players)

pandas.core.frame.DataFrame

In [19]:
def player_sort_by_stat(player_list, desired_players, stat, number_of_players,batting_career):
    i = 0
    best_for_position = []
    for player in player_list.to_records():
        if player['playerID'] in desired_players and i < number_of_players:
            best_for_position.append(player)
            i += 1
        elif i >= number_of_players:
            break
    return best_for_position

In [5]:
def player_search(position):
    desired_players = []
    position = position.lower()
    position_key = "G_" + position
    for player in appearances.to_records():
        player_position = max_position(player)
        if position_key == player_position:
            name = player['playerID']
            desired_players.append(name)
    return desired_players

In [6]:
def max_position(player):
    max_position = -1
    if int(player['G_p']) > max_position:
        max_position = int(player['G_p'])
        position = "G_p"
    if int(player['G_c']) > max_position:
        max_position = int(player['G_c'])
        position = "G_c"
    if int(player['G_1b']) > max_position:
        max_position = int(player['G_1b'])
        position = "G_1b"
    if int(player['G_2b']) > max_position:
        max_position = int(player['G_2b'])
        position = "G_2b"
    if int(player['G_ss']) > max_position:
        max_position = int(player['G_ss'])
        position = "G_ss"
    if int(player['G_3b']) > max_position:
        max_position = int(player['G_3b'])
        position = "G_3b"
    if int(player['G_lf']) > max_position:
        max_position = int(player['G_lf'])
        position = "G_lf"
    if int(player['G_cf']) > max_position:
        max_position = int(player['G_cf'])
        position = "G_cf"
    if int(player['G_rf']) > max_position:
        max_position = int(player['G_rf'])
        position = "G_rf"
    return position

                                                   0
0        [6, 381, 129, 104, 1, 53, 36, 5, austiji01]
1             [11, 14, 13, 3, 0, 1, 1, 0, bairddo01]
2  [17, 2673, 814, 788, 27, 404, 436, 35, barnhcl01]
3  [28, 2144, 573, 626, 26, 296, 272, 63, boeckto01]
4     [44, 1148, 319, 305, 1, 195, 69, 27, bushdo01]
5         [64, 110, 37, 25, 0, 17, 11, 0, clarksu01]
6      [90, 872, 244, 230, 6, 100, 105, 8, dealch01]
7  [98, 4478, 1179, 1305, 38, 605, 491, 24, dugan...
8  [101, 7811, 2206, 2212, 108, 1091, 1057, 67, d...
9   [106, 1348, 392, 360, 4, 166, 136, 7, ellerfr01]